/* Space out content a bit */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lato);


body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
	background-color: #E4DBBF;
	font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}
/*
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}*/		


.navbar-brand {
	font-family:'Pacifico', Arial, serif; font-weight: 400; 
	font-size: 200%;
}

.btn-success {background-color:#70AB8F;border-color:#70AB8F;}
.btn-success:hover { border-color: #70AB8F; background-color: #70AB8F; }
.btn-success:active { border-color: #70AB8F; background-color: #70AB8F; }
.btn-success:focus { border-color: #70AB8F; background-color: #70AB8F; }
.open .dropdown-toggle.btn-success { border-color: #70AB8F; background-color: #70AB8F; }

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loader2.gif) center no-repeat #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.ui-widget-content {
	max-height: 50vh;
	overflow-y: scroll;
}

#sl-strip {
	width:100px;
	height: 25px;	
	font-size: 70%;
	color: white;
	text-align:center;
	background-color: #70AB8F;
}

#sidebar {
	width:300px;
	max-height: 80vh;
	position: absolute;
	top: 80px;
	z-index: 50;
	/*background-color: #FFFFF0;*/
}

#selected {
	border-top: 1px dashed #d5d5d5;
	/*max-height:70vh;
	top:40px;
	position:relative;*/
}

.shortlist-elem {
	background-color: #FFFFF0;
	padding:2px;
	width:300px;
	height: 80px;
	border-bottom: 1px dashed #d5d5d5;
	border-left: 1px dashed #d5d5d5;
	border-right: 1px dashed #d5d5d5;
	position: relative;
}

.shortlist-text {
	display: inline-block;
	position: absolute;
	font-size: 100%;
	right:20px;
	left:70px;
	height:100%;
}

.points-details p {
	margin: 0 0 0px;
}

.points-details {
	font-size: 70%;
	position: absolute;
	top:20px;
	bottom: 0px;
	width:100%;
}
div.shortlist-model {
	height:20px;
	width:100%;
	overflow:hidden;
}
/*.shortlist-model {
	width: 60%;
	margin: 0 5px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
*/
.shortlist-btns {
	display: inline-block;
	position:absolute;
	height: 100%;
	right:0px;
}

.thumbnail {
	padding: 0;
	border: 0;
	position:absolute;
	top:0px;
	left:10px;
	/*
	min-height: 60px;
	min-width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	margin: 0;
	font-family: open sans,Helvetica,sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	*/
}

.table-responsive
{
    overflow-x: auto;
}

#banner {
	background-color: grey;
	height: 35px;
	left:0;
	width:100%;
	bottom:0;
	z-index:1;
}

#banner.fix {
	position: fixed;
}

#banner.rel {
	position: relative;
}

#submit_button
{
	float: right;
}

#mainbody {
}
#start {
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.box{
	padding:0;
	margin:5px 5px 10px 5px;
	height:50px;
	border: 1px solid rgb(200,200,200);
}
.bigbox{
	padding:0;
	margin:5px 5px 5px 5px;
	height:80px;
	border: 1px solid rgb(200,200,200);
}
.hugebox{
	padding:0;
	margin:5px 5px 5px 5px;
	height:200px;
	border: 1px solid rgb(200,200,200);
}
.slider{
	position:relative;
	float:right;
	right:5px;
	top:15px;
	width:75%;
}
.selectpicker {
	position:relative;
	float:right;
	top:5px;
	background-color:rgba(0,0,0,0);
}
.slider-value{
	position:relative;
	float:right;
	right:5px;
	width:75%;
	top:17px;
	height:20px;
	//border:1px solid red;
	font-size:14px;
}
.label{
	font-size: 15px;
	//font-weight:400;
	color:#000;
	position:relative;
	float:left;
	user-select:none:
	overflow:hidden;
	display:inline-block;
	top:10px;
	left:-5px;
	text-transform:uppercase;
}
#sGeneral thead>tr>th,#sGeneral  tbody>tr>th,#sGeneral  tfoot>tr>th,
#sGeneral thead>tr>td,#sGeneral   tbody>tr>td,#sGeneral  tfoot>tr>td {
	padding: 0;
}
#sGeneral th {
	text-align:center;
}
#sGeneral td {
	text-align: center;
	vertical-align: middle;
	//margin:auto;
}

#sGeneral table {
	position:absolute;
	width:100%;
	bottom:2px;
}

.btn-default {
	color: black;
}

input[type="radio"], input[type="checkbox"] {
	line-height: normal;
	margin-top: 0;
	background-color: rgba(0,0,0,0);
}
.noUi-background{
	background-color: rgb(166,166,166);/*#b6c10b;*/
}
.noUi-target{
	border:none;
}
.noUi-connect{
	background:#276700;
	
}
.noUi-handle{
	background-color: rgba(0,0,0,.8);
	position: relative;
	border:none;
	box-shadow:none;
}
.noUi-horizontal .noUi-handle {
	width:3px;
	height:15px;
	left: -1px;
	top: -10px;
}
.noUi-handle:after, .noUi-handle:before {
display: none;
}
.noUi-horizontal {
	height: 5px
}
.range{
	position:relative;
	//display: inline-block;
	width:75%;
	height:75%;
	background-color: rgba(0,0,0,0);
}
.low-value{
	float: left;
}
.high-value{
	float: right;
}
input{
	border:none;
}

#SearchResultsPanel{
	height: 85vh;
	min-width:250px;
	background-color: rgb(255,255,255);
}
#SearchResultsBar{
	height: 50px;
	width:100%;
	position:absolute;
	border: 1px dashed black;
	/*background-color: blue;*/
}
#SearchResults{
	margin-top: 60px;
	height: 75vh;
	background-color: rgb(255,255,255);
	overflow-y:auto;
}

#A12{
	height: 85vh; 
	//position:absolute;
	//width:100%;
	//height:100%;
	//left:0px;

	//top:40px;
	//bottom:30px;
	//margin:0;
	//padding:0;
	//box-sizing: border-box;
	//box-shadow:inset 5px 0px 5px rgba(0,0,0,0.3);
	//border: 5px solid red;
}
#A12plot{
	//z-index: 0;
	margin:0;
	padding:0;
	//top:20px;
	//position: absolute;
	width: 100%;
	height: 90%;
	font-size: 14px;
	color: red;
	//line-height: 1.2em;
}
#A12sel {
	//z-index: 1;
	//position:relative;
	color: rgb(255,255,255);
	background-color: #005c99;
	//display:block;
	//float: right;
	//margin-top:20px;
	//margin-right:20px;
	height:20px;
	//margin-left: 70%;
	//top:0;
	//right:0;
}
#A12tt {
	z-index:1000;
	position: fixed;
	border: 1px solid #fdd;
	padding: 2px;
	background-color: #fee;
	opacity: 0.80;
}
.flot-tick-label {
	font-size: 100%;
	style: "bold";
	weight: "bold";
	//family: "sans-serif";
	//variant: "small-caps";
	//color: rgb(218, 165, 32);
	color: #383127;
}

.spec-elem {
	background-color: #FFFFF0;
	padding:2px;
	min-width:200px;
	height: 80px;
	border-bottom: 1px dashed #d5d5d5;
	border-left: 1px dashed #d5d5d5;
	border-right: 1px dashed #d5d5d5;
	position: relative;
}
/*
.compare-table th.side-td, .compare-table td.side-td {
  border-right: #f5fcf6 3px solid;
}
.compare-table th.side-td {
  background: #e2f5cc !important;
}
.compare-table th {
  background: #deedfd;
  padding: 0 0 8px 0;
}
*/
.compare-table {
  width: 100%;
  margin: 10px 0 8px 0;
  font-size: 14px;
}
.specheader {
	padding-top: 20px;	
	font-size:20px;
	height:50px;
	border-left: 2px solid #CDC5AB;
	border-right: 2px solid #CDC5AB;
}
.specrow {
	margin: 5px 5px 5px 5px;	
	height-min:40px;
	border-left: 2px solid #CDC5AB;
	border-right: 2px solid #CDC5AB;
}
.specdata td{
	padding-left: 5px;
}
.colhdr {
	background-color: #E4DBBF;
}
.coleven {
	background-color: #E4DBBF;
}
.colodd {
	background-color: #CDC5AB;
}
/*
//for dropdowns
tbody tr:hover { 
          background-color: none;
}
*/
.compare-table tbody tr.specrow:hover td, .compare-table tbody tr.specrow:hover th {
    background-color: whiteSmoke;
}	
#comp-header-fixed {
	display: none;
	background-color:#E4DBBF;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9000;
  -moz-box-shadow: 0 2px 3px -1px #444;
  -webkit-box-shadow: 0 2px 3px -1px #444;
  box-shadow: 0 2px 3px -1px #444;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  /*margin: 30px 0;*/
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
