<div class="container-fluid">
	<div id="A12" class="col-sm-12 col-md-9 col-lg-9">
		<div class="input-group col-xs-5 col-sm-4 col-md-3 col-lg-2 col-xs-offset-7 col-sm-offset-8 col-md-offset-9 col-lg-offset-10">
			<select id="A12sel">
				<option value="ov" selected>Overall Points</option>
				<option value="hw">Processor Points</option>
				<option value="dis">Display Points</option>
				<option value="cam">Camera Points</option>
			</select>
		</div>
		<div id="A12plot"></div>
		<div id ="A12tt"></div>
	</div>
	<div id="SearchResultsPanel" class="col-sm-12 col-md-3 col-lg-3">
		<div id="SearchResultsBar">
			<div style="float:left;top:5px;width:50%">
			<a href="#/search" class="btn btn-primary  btn-lg" role="button" id="back_button">Back to Search</a>
			</div>
			<div style="float:right;width:50%">
			<select name="SortBy" id="SortBy" class="selectpicker" data-live-search="true" data-width="100%" title="Sort By" style="float:right;">
				<option value="1">Brand</option>
				<option value="2">Price</option>
				<option value="3">Points</option>
				<option value="4">Hardware Points</option>
				<option value="5">Display Points</option>
				<option value="6">Camera Points</option>
			</select>
			</div>
		</div>
		<div id="SearchResults"></div>	
	</div>
</div>

