<div class="container-fluid">
	<div id="A12" class="col-sm-12 col-md-9 col-lg-9">
		<div class="input-group col-xs-5 col-sm-4 col-md-3 col-lg-2 col-xs-offset-7 col-sm-offset-8 col-md-offset-9 col-lg-offset-10">
			<select id="A12sel">
				<option value="ov" selected>Overall Points</option>
				<option value="hw">Processor Points</option>
				<option value="dis">Display Points</option>
				<option value="cam">Camera Points</option>
			</select>
		</div>
		<div id="A12plot"></div>
		<div id ="A12tt"></div>
	</div>
	<div id="SearchResults" class="col-sm-12 col-md-3 col-lg-3">
	</div>
</div>

