<div class="container">
	<div id="sGeneral" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         General
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="pricebox" class="box col-sm-10 col-md-5 col-lg-5">
					<span class="label">Price:</span>
					<div class="slider" id="priceSlider"></div>
					<div class="slider-value">
						<span style="display:inline-block;float:left;width:40%">Rs <input class="range" id="plv"></span>
						<span style="display:inline-block;float:right;width:40%">Rs <input class="range" id="phv"></span>
					</div>
				</div>
				<div id="brandbox" class="box col-sm-10 col-md-6 col-lg-5 col-lg-offset-2">
					<span class="label">Brand:</span>
					<select name="sBrand" id="sBrand" class="selectpicker" multiple data-live-search="true" data-width="70%" title='Choose one of the following...'>
						<option value="Alcatel">Alcatel</option>
						<option value="Apple">Apple</option>
						<option value="Asus">Asus</option>
						<option value="BlackBerry">BlackBerry</option>
						<option value="Gionee">Gionee</option>
						<option value="Google">Google</option>
						<option value="HP">HP</option>
						<option value="HTC">HTC</option>
						<option value="Huawei">Huawei</option>
						<option value="Lava">Lava</option>
						<option value="Lenovo">Lenovo</option>
						<option value="LG">LG</option>
						<option value="Micromax">Micromax</option>
						<option value="Moto">Moto</option>
						<option value="Nokia">Nokia</option>
						<option value="OPPO">OPPO</option>
						<option value="Panasonic">Panasonic</option>
						<option value="Samsung">Samsung</option>
						<option value="Sony">Sony</option>
						<option value="Spice">Spice</option>
						<option value="XOLO">XOLO</option>
						<option value="ZTE">ZTE</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="sizefacebox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">FaceSize:</span>
					<table>
						<thead>
							<tr>
							<th>small</th>
							<th>average</th>
							<th>big/phablet</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="facesize" id="facesize0" value="1"/></td>
								<td><input type="checkbox" class="facesize" id="facesize1" value="2"/></td>
								<td><input type="checkbox" class="facesize" id="facesize2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="sizethikbox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">Thickness:</span>
					<table>
						<thead>
							<tr>
							<th>thick</th>
							<th>average</th>
							<th>slim</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="thickness" id="thickness0" value="1"/></td>
								<td><input type="checkbox" class="thickness" id="thickness1" value="2"/></td>
								<td><input type="checkbox" class="thickness" id="thickness2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="sizewtbox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">Weight:</span>
					<table>
						<thead>
							<tr>
							<th>light</th>
							<th>average</th>
							<th>heavy</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="weight" id="weight0" value="1"/></td>
								<td><input type="checkbox" class="weight" id="weight1" value="2"/></td>
								<td><input type="checkbox" class="weight" id="weight2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div id="osbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">OS:</span>
					<select name="sOS" id="sOS" class="selectpicker" data-live-search="true" data-width="75%">
						<option value="1">android</option>
						<option value="2">blackberry os</option>
						<option value="3">iOS</option>
						<option value="4">windows phone</option>
						<option value="5">nokia asha software platform</option>
					</select>
				</div>
				<div id="oscurbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Version:</span>
					<select name="sCurOS" id="sCurOS" multiple class="selectpicker" title="Any" data-live-search="true" data-width="50%">
						<option class="1" value="v4.3 (jelly bean)">v4.3 (jelly bean)</option>
						<option class="1" value="v2.3 (gingerbread)">v2.3 (gingerbread)</option>
						<option class="1" value="v2.3.3 (gingerbread)">v2.3.3 (gingerbread)</option>
						<option class="1" value="v2.3.4 (gingerbread)">v2.3.4 (gingerbread)</option>
						<option class="1" value="v2.3.5 (gingerbread)">v2.3.5 (gingerbread)</option>
						<option class="1" value="v2.3.6 (gingerbread)">v2.3.6 (gingerbread)</option>
						<option class="1" value="v4.0 (icecream sandwitch)">v4.0 (icecream sandwitch)</option>
						<option class="1" value="v4.0.3 (icecream sandwich)">v4.0.3 (icecream sandwich)</option>
						<option class="1" value="v4.0.4 (icecream sandwich)">v4.0.4 (icecream sandwich)</option>
						<option class="1" value="v4.1 (jelly bean)">v4.1 (jelly bean)</option>
						<option class="1" value="v4.1.1 (jelly bean)">v4.1.1 (jelly bean)</option>
						<option class="1" value="v4.1.2 (jelly bean)">v4.1.2 (jelly bean)</option>
						<option class="1" value="v4.2 (jelly bean)">v4.2 (jelly bean)</option>
						<option class="1" value="v4.2.1 (jelly bean)">v4.2.1 (jelly bean)</option>
						<option class="1" value="v4.2.2 (jelly bean)">v4.2.2 (jelly bean)</option>
						<option class="1" value="v4.3 (jelly bean)">v4.3 (jelly bean)</option>
						<option class="1" value="v4.4(kitkat)">v4.4(kitkat)</option>
						<option class="1" value="v4.4.2 (kitkat)">v4.4.2 (kitkat)</option>
						<option class="2" value="blackberry 10 os">blackberry 10 os</option>
						<option class="2" value="blackberry 10.2 os">blackberry 10.2 os</option>
						<option class="2" value="blackberry 10.2.1 os">blackberry 10.2.1 os</option>
						<option class="2" value="blackberry os 7.0">blackberry os 7.0</option>
						<option class="2" value="blackberry os 7.1">blackberry os 7.1</option>
						<option class="3" value="iOS 4">iOS 4</option>
						<option class="3" value="iOS 5">iOS 5</option>
						<option class="3" value="iOS 6">iOS 6</option>
						<option class="3" value="iOS 7">iOS 7</option>
						<option class="4" value="windows phone 7.5 mango">windows phone 7.5 mango</option>
						<option class="4" value="windows phone 8">windows phone 8</option>
						<option class="4" value="windows phone 8.1">windows phone 8.1</option>
						<option class="5" value="nokia asha software platform 1.0">nokia asha software platform 1.0</option>
						<option class="5" value="nokia asha software platform 1.1.1">nokia asha software platform 1.1.1</option>
						<option class="5" value="nokia asha software platform 1.2">nokia asha software platform 1.2</option>
					</select>
				</div>
				<div id="osmaxbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Upgradable:</span>
					<select name="sFutOS" id="sFutOS" class="selectpicker" title="Any"
						data-live-search="true" data-width="50%">
						<option class="1" value="v4.3 (jelly bean)">v4.3 (jelly bean)</option>
						<option class="1" value="v2.3 (gingerbread)">v2.3 (gingerbread)</option>
						<option class="1" value="v2.3.3 (gingerbread)">v2.3.3 (gingerbread)</option>
						<option class="1" value="v2.3.4 (gingerbread)">v2.3.4 (gingerbread)</option>
						<option class="1" value="v2.3.5 (gingerbread)">v2.3.5 (gingerbread)</option>
						<option class="1" value="v2.3.6 (gingerbread)">v2.3.6 (gingerbread)</option>
						<option class="1" value="v4.0 (icecream sandwitch)">v4.0 (icecream sandwitch)</option>
						<option class="1" value="v4.0.3 (icecream sandwich)">v4.0.3 (icecream sandwich)</option>
						<option class="1" value="v4.0.4 (icecream sandwich)">v4.0.4 (icecream sandwich)</option>
						<option class="1" value="v4.1 (jelly bean)">v4.1 (jelly bean)</option>
						<option class="1" value="v4.1.1 (jelly bean)">v4.1.1 (jelly bean)</option>
						<option class="1" value="v4.1.2 (jelly bean)">v4.1.2 (jelly bean)</option>
						<option class="1" value="v4.2 (jelly bean)">v4.2 (jelly bean)</option>
						<option class="1" value="v4.2.1 (jelly bean)">v4.2.1 (jelly bean)</option>
						<option class="1" value="v4.2.2 (jelly bean)">v4.2.2 (jelly bean)</option>
						<option class="1" value="v4.3 (jelly bean)">v4.3 (jelly bean)</option>
						<option class="1" value="v4.4(kitkat)">v4.4(kitkat)</option>
						<option class="1" value="v4.4.2 (kitkat)">v4.4.2 (kitkat)</option>
						<option class="2" value="blackberry 10 os">blackberry 10 os</option>
						<option class="2" value="blackberry 10.2 os">blackberry 10.2 os</option>
						<option class="2" value="blackberry 10.2.1 os">blackberry 10.2.1 os</option>
						<option class="2" value="blackberry os 7.0">blackberry os 7.0</option>
						<option class="2" value="blackberry os 7.1">blackberry os 7.1</option>
						<option class="3" value="iOS 4">iOS 4</option>
						<option class="3" value="iOS 5">iOS 5</option>
						<option class="3" value="iOS 6">iOS 6</option>
						<option class="3" value="iOS 7">iOS 7</option>
						<option class="4" value="windows phone 7.5 mango">windows phone 7.5 mango</option>
						<option class="4" value="windows phone 8">windows phone 8</option>
						<option class="4" value="windows phone 8.1">windows phone 8.1</option>
						<option class="5" value="nokia asha software platform 1.0">nokia asha software platform 1.0</option>
						<option class="5" value="nokia asha software platform 1.1.1">nokia asha software platform 1.1.1</option>
						<option class="5" value="nokia asha software platform 1.2">nokia asha software platform 1.2</option>
					</select>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel GENERAL-->
	<div id="sQuality" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
        	Quality
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="qualitybox" class="hugebox col-sm-12 col-md-10 col-lg-8">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>below average</th>
									<th>average</th>
									<th>above average</th>
									<th>best in class</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Overall</td>
									<td><input type="checkbox" id="overall0" value="1"/></td>
									<td><input type="checkbox" id="overall1" value="2"/></td>
									<td><input type="checkbox" id="overall2" value="3"/></td>
									<td><input type="checkbox" id="overall3" value="4"/></td>
								</tr>
								<tr>
									<td>Hardware</td>
									<td><input type="checkbox" id="hardware0" value="1"/></td>
									<td><input type="checkbox" id="hardware1" value="2"/></td>
									<td><input type="checkbox" id="hardware2" value="3"/></td>
									<td><input type="checkbox" id="hardware3" value="4"/></td>
								</tr>
								<tr>
									<td>Display</td>
									<td><input type="checkbox" id="display0" value="1"/></td>
									<td><input type="checkbox" id="display1" value="2"/></td>
									<td><input type="checkbox" id="display2" value="3"/></td>
									<td><input type="checkbox" id="display3" value="4"/></td>
								</tr>
								<tr>
									<td>Camera</td>
									<td><input type="checkbox" id="camera0" value="1"/></td>
									<td><input type="checkbox" id="camera1" value="2"/></td>
									<td><input type="checkbox" id="camera2" value="3"/></td>
									<td><input type="checkbox" id="camera3" value="4"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Quality-->
	<div id="sSimilar" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
        	Similar To
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="likebox" class="hugebox col-sm-12 col-md-10 col-lg-8">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>similar to</th>
									<th>overall</th>
									<th>hardware</th>
									<th>display</th>
									<th>camera</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input class="ssimilar" id="similar0" type="text"></td>
									<td><input type="checkbox" id="soverall0" value="1"/></td>
									<td><input type="checkbox" id="shardware0" value="1"/></td>
									<td><input type="checkbox" id="sdisplay0" value="1"/></td>
									<td><input type="checkbox" id="scamera0" value="1"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar1" type="text"></td>
									<td><input type="checkbox" id="soverall1" value="2"/></td>
									<td><input type="checkbox" id="shardware1" value="2"/></td>
									<td><input type="checkbox" id="sdisplay1" value="2"/></td>
									<td><input type="checkbox" id="scamera1" value="2"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar2" type="text"></td>
									<td><input type="checkbox" id="soverall2" value="3"/></td>
									<td><input type="checkbox" id="shardware2" value="3"/></td>
									<td><input type="checkbox" id="sdisplay2" value="3"/></td>
									<td><input type="checkbox" id="scamera2" value="3"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar3" type="text"></td>
									<td><input type="checkbox" id="soverall3" value="4"/></td>
									<td><input type="checkbox" id="shardware3" value="4"/></td>
									<td><input type="checkbox" id="sdisplay3" value="4"/></td>
									<td><input type="checkbox" id="scamera3" value="4"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Similar To-->
		
</div>
