<div class="container">
	<div class="tab-pane fade in active panel-group col-sm-10 col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 " id="reviews">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBattery">Battery</a>
				</h4>
			</div>
			<div id="revBattery" class="panel-collapse collapse">
				<div class="panel-body">
					<p>battery: <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a>
					<a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a>
					</p>
					<!--p>battery lifetime<span>good(8)</span><span>bad(0)</span></p-->
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBody">Body</a>
				</h4>
			</div>
			<div id="revBody" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBattery">Camera</a>
				</h4>
			</div>
			<div id="revCamera" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revHardware">Hardware</a>
				</h4>
			</div>
			<div id="revHardware" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Battery: good(8)</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revPerformance">Performance</a>
				</h4>
			</div>
			<div id="revPerformance" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revOverall">Overall</a>
				</h4>
			</div>
			<div id="revOverall" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
