<div class="container">

	<!-- Modal HTML -->
	<div id="myModal" class="modal fade">
			<div class="modal-dialog">
					<div class="modal-content">
					</div>
			</div>
	</div>

	<div>
		<select id="revmodel" class="selectpicker" data-width="30%"></select>
		<select id="revcol" class="selectpicker" data-width="30%">
			<option value="rev">Analysis of All Reviews</option>
			<option value="revin">Initial Reviews Only</option>
			<option value="revlo">Overall Poor Rating Reviews Only</option>
			<option value="revhi">Overall Good Rating Reviews Only</option>
		</select>
	</div>

	<div class="tab-pane fade in active panel-group col-sm-10 col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 " id="reviews">
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Battery
					</h3>
			 </div>
			 <div id="revBattery" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Body
					</h3>
			 </div>
			 <div id="revBody" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Camera
					</h3>
			 </div>
			 <div id="revCamera" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Display
					</h3>
			 </div>
			 <div id="revDisplay" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Performance
					</h3>
			 </div>
			 <div id="revPerformance" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Specs
					</h3>
			 </div>
			 <div id="revSpecs" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
		<div class="panel panel-default">
			 <div class="panel-heading">
					<h3 class="panel-title">
						 Overall
					</h3>
			 </div>
			 <div id="revOverall" class="panel-body">
					<p>Please Select a Phone First</p>
			 </div>
		</div>
	</div>
</div>






		<!--div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBattery">Battery</a>
				</h4>
			</div>
			<div id="revBattery" class="panel-collapse collapse">
				<div class="panel-body">
					<p>battery: <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a>
					<a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a> <a href="something">good(8)</a>
					</p-->
					<!--p>battery lifetime<span>good(8)</span><span>bad(0)</span></p-->
				<!--/div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBody">Body</a>
				</h4>
			</div>
			<div id="revBody" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revBattery">Camera</a>
				</h4>
			</div>
			<div id="revCamera" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revHardware">Hardware</a>
				</h4>
			</div>
			<div id="revHardware" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Battery: good(8)</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revPerformance">Performance</a>
				</h4>
			</div>
			<div id="revPerformance" class="panel-collapse collapse">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#reviews" href="#revOverall">Overall</a>
				</h4>
			</div>
			<div id="revOverall" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
				</div>
			</div>
		</div>
	</div>
</div-->
