<div class="container" id="searchpage">
	<div id="sGeneral" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         General
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="pricebox" class="box col-sm-10 col-md-5 col-lg-5">
					<span class="label">Price:</span>
					<div class="slider" id="priceSlider"></div>
					<div class="slider-value">
						<span style="display:inline-block;float:left;width:40%">Rs 
							<input class="range" id="plv" ng-change="test();" ng-model="price['lo']">
						</span>
						<span style="display:inline-block;float:right;width:40%">Rs 
							<input class="range" id="phv" ng-change="test();" ng-model="price['hi']">
						</span>
					</div>
				</div>
				<div id="brandbox" class="box col-sm-10 col-md-6 col-lg-5 col-lg-offset-2">
					<span class="label">Brand:</span>
					<select name="sBrand" id="sBrand" class="selectpicker" multiple data-live-search="true" data-width="70%" title='Choose one of the following...'>
						<option value="Alcatel">Alcatel</option>
						<option value="Apple">Apple</option>
						<option value="Asus">Asus</option>
						<option value="BlackBerry">BlackBerry</option>
						<option value="Gionee">Gionee</option>
						<option value="Google">Google</option>
						<option value="HP">HP</option>
						<option value="HTC">HTC</option>
						<option value="Huawei">Huawei</option>
						<option value="Lava">Lava</option>
						<option value="Lenovo">Lenovo</option>
						<option value="LG">LG</option>
						<option value="Micromax">Micromax</option>
						<option value="Moto">Moto</option>
						<option value="Nokia">Nokia</option>
						<option value="OPPO">OPPO</option>
						<option value="Panasonic">Panasonic</option>
						<option value="Samsung">Samsung</option>
						<option value="Sony">Sony</option>
						<option value="Spice">Spice</option>
						<option value="XOLO">XOLO</option>
						<option value="ZTE">ZTE</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="sizefacebox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">FaceSize:</span>
					<table>
						<thead>
							<tr>
							<th>small</th>
							<th>average</th>
							<th>big/phablet</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="facesize" id="facesize0" value="1"/></td>
								<td><input type="checkbox" class="facesize" id="facesize1" value="2"/></td>
								<td><input type="checkbox" class="facesize" id="facesize2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="sizethikbox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">Thickness:</span>
					<table>
						<thead>
							<tr>
							<th>slim</th>
							<th>average</th>
							<th>thick</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="thickness" id="thickness0" value="1"/></td>
								<td><input type="checkbox" class="thickness" id="thickness1" value="2"/></td>
								<td><input type="checkbox" class="thickness" id="thickness2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="sizewtbox" class="bigbox col-sm-6 col-md-4 col-lg-3">
					<span class="label">Weight:</span>
					<table>
						<thead>
							<tr>
							<th>light</th>
							<th>average</th>
							<th>heavy</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="weight" id="weight0" value="1"/></td>
								<td><input type="checkbox" class="weight" id="weight1" value="2"/></td>
								<td><input type="checkbox" class="weight" id="weight2" value="3"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div id="osbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">OS:</span>
					<select name="sOS" id="sOS" class="selectpicker" data-live-search="true" data-width="75%">
						<option value="0">Any</option>
						<option value="1">Android</option>
						<option value="2">Blackberry OS</option>
						<option value="3">iOS</option>
						<option value="4">Windows Phone</option>
						<option value="5">Nokia Asha Software Platform</option>
					</select>
				</div>
				<div id="oscurbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Version:</span>
					<select name="sCurOS" id="sCurOS" multiple class="selectpicker" title="Any" data-live-search="true" data-width="50%">
						<option class="1" value="v2.3 (gingerbread)">v2.3 (gingerbread)</option>
						<option class="1" value="v2.3.3 (gingerbread)">v2.3.3 (gingerbread)</option>
						<option class="1" value="v2.3.4 (gingerbread)">v2.3.4 (gingerbread)</option>
						<option class="1" value="v2.3.5 (gingerbread)">v2.3.5 (gingerbread)</option>
						<option class="1" value="v2.3.6 (gingerbread)">v2.3.6 (gingerbread)</option>
						<option class="1" value="v4.0 (icecream sandwitch)">v4.0 (icecream sandwitch)</option>
						<option class="1" value="v4.0.3 (icecream sandwich)">v4.0.3 (icecream sandwich)</option>
						<option class="1" value="v4.0.4 (icecream sandwich)">v4.0.4 (icecream sandwich)</option>
						<option class="1" value="v4.1 (jellybean)">v4.1 (jelly bean)</option>
						<option class="1" value="v4.1.1 (jellybean)">v4.1.1 (jelly bean)</option>
						<option class="1" value="v4.1.2 (jellybean)">v4.1.2 (jelly bean)</option>
						<option class="1" value="v4.2 (jellybean)">v4.2 (jelly bean)</option>
						<option class="1" value="v4.2.1 (jellybean)">v4.2.1 (jelly bean)</option>
						<option class="1" value="v4.2.2 (jellybean)">v4.2.2 (jelly bean)</option>
						<option class="1" value="v4.3 (jellybean)">v4.3 (jelly bean)</option>
						<option class="1" value="v4.4 (kitkat)">v4.4(kitkat)</option>
						<option class="1" value="v4.4.2 (kitkat)">v4.4.2 (kitkat)</option>
						<option class="1" value="v4.4.3 (kitkat)">v4.4.3 (kitkat)</option>
						<option class="1" value="v4.4.4 (kitkat)">v4.4.4 (kitkat)</option>
						<option class="1" value="v5.0.x (lollipop)">v5.0.x (lollipop)</option>
						<option class="2" value="blackberry os 7.0">blackberry os 7.0</option>
						<option class="2" value="blackberry os 7.1">blackberry os 7.1</option>
						<option class="2" value="blackberry 10 os">blackberry 10 os</option>
						<option class="2" value="blackberry 10.2 os">blackberry 10.2 os</option>
						<option class="2" value="blackberry 10.2.1 os">blackberry 10.2.1 os</option>
						<option class="3" value="iOS 4">iOS 4</option>
						<option class="3" value="iOS 5">iOS 5</option>
						<option class="3" value="iOS 6">iOS 6</option>
						<option class="3" value="iOS 7">iOS 7</option>
						<option class="4" value="v7.5 (mango)">v7.5 (mango)</option>
						<option class="4" value="windows phone 8">windows phone 8</option>
						<option class="4" value="windows phone 8.1">windows phone 8.1</option>
						<option class="5" value="nokia asha software platform 1.0">nokia asha software platform 1.0</option>
						<option class="5" value="nokia asha software platform 1.1.1">nokia asha software platform 1.1.1</option>
						<option class="5" value="nokia asha software platform 1.2">nokia asha software platform 1.2</option>
					</select>
				</div>
				<div id="osmaxbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Upgradable:</span>
					<select name="sFutOS" id="sFutOS" class="selectpicker" title="Any"
						data-live-search="true" data-width="50%">
						<option class="1" value="v2.3 (gingerbread)">v2.3 (gingerbread)</option>
						<option class="1" value="v2.3.3 (gingerbread)">v2.3.3 (gingerbread)</option>
						<option class="1" value="v2.3.4 (gingerbread)">v2.3.4 (gingerbread)</option>
						<option class="1" value="v2.3.5 (gingerbread)">v2.3.5 (gingerbread)</option>
						<option class="1" value="v2.3.6 (gingerbread)">v2.3.6 (gingerbread)</option>
						<option class="1" value="v4.0 (icecream sandwitch)">v4.0 (icecream sandwitch)</option>
						<option class="1" value="v4.0.3 (icecream sandwich)">v4.0.3 (icecream sandwich)</option>
						<option class="1" value="v4.0.4 (icecream sandwich)">v4.0.4 (icecream sandwich)</option>
						<option class="1" value="v4.1 (jelly bean)">v4.1 (jelly bean)</option>
						<option class="1" value="v4.1.1 (jelly bean)">v4.1.1 (jelly bean)</option>
						<option class="1" value="v4.1.2 (jelly bean)">v4.1.2 (jelly bean)</option>
						<option class="1" value="v4.2 (jelly bean)">v4.2 (jelly bean)</option>
						<option class="1" value="v4.2.1 (jelly bean)">v4.2.1 (jelly bean)</option>
						<option class="1" value="v4.2.2 (jelly bean)">v4.2.2 (jelly bean)</option>
						<option class="1" value="v4.3 (jelly bean)">v4.3 (jelly bean)</option>
						<option class="1" value="v4.4(kitkat)">v4.4(kitkat)</option>
						<option class="1" value="v4.4.2 (kitkat)">v4.4.2 (kitkat)</option>
						<option class="2" value="blackberry os 7.0">blackberry os 7.0</option>
						<option class="2" value="blackberry os 7.1">blackberry os 7.1</option>
						<option class="2" value="blackberry 10 os">blackberry 10 os</option>
						<option class="2" value="blackberry 10.2 os">blackberry 10.2 os</option>
						<option class="2" value="blackberry 10.2.1 os">blackberry 10.2.1 os</option>
						<option class="3" value="iOS 4">iOS 4</option>
						<option class="3" value="iOS 5">iOS 5</option>
						<option class="3" value="iOS 6">iOS 6</option>
						<option class="3" value="iOS 7">iOS 7</option>
						<option class="4" value="windows phone 7.5 mango">windows phone 7.5 mango</option>
						<option class="4" value="windows phone 8">windows phone 8</option>
						<option class="4" value="windows phone 8.1">windows phone 8.1</option>
						<option class="5" value="nokia asha software platform 1.0">nokia asha software platform 1.0</option>
						<option class="5" value="nokia asha software platform 1.1.1">nokia asha software platform 1.1.1</option>
						<option class="5" value="nokia asha software platform 1.2">nokia asha software platform 1.2</option>
					</select>
				</div>
				<div id="osmaxbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Sim Size:</span>
					<select name="sSimsize" id="sSimsize" multiple class="selectpicker" title="Any"
						data-live-search="true" data-width="50%">
						<option value="1">Mini Sim</option>
						<option value="2">Micro Sim</option>
						<option value="3">Nano Sim</option>
					</select>
				</div>
				<div id="osmaxbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Sim No.:</span>
					<select name="sSimno" id="sSimno" multiple class="selectpicker" title="Any"
						data-live-search="true" data-width="50%">
						<option value="1">Single Sim</option>
						<option value="2">Dual Sim</option>
						<option value="3">Triple Sim</option>
						<option value="4">Quad Sim</option>
					</select>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel GENERAL-->
	<div id="sQuality" class="panel panel-default col-sm-12 col-md-6 col-lg-6">
   	<div class="panel-heading">
      <h3 class="panel-title">
        	Quality
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="qualitybox" class="hugebox">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>below average</th>
									<th>average</th>
									<th>above average</th>
									<th>best in class</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Overall</td>
									<td><input class="overall" type="checkbox" id="overall0" value="1"/></td>
									<td><input class="overall" type="checkbox" id="overall1" value="2"/></td>
									<td><input class="overall" type="checkbox" id="overall2" value="3"/></td>
									<td><input class="overall" type="checkbox" id="overall3" value="4"/></td>
								</tr>
								<tr>
									<td>Hardware</td>
									<td><input class="hardware" type="checkbox" id="hardware0" value="1"/></td>
									<td><input class="hardware" type="checkbox" id="hardware1" value="2"/></td>
									<td><input class="hardware" type="checkbox" id="hardware2" value="3"/></td>
									<td><input class="hardware" type="checkbox" id="hardware3" value="4"/></td>
								</tr>
								<tr>
									<td>Display</td>
									<td><input class="display" type="checkbox" id="display0" value="1"/></td>
									<td><input class="display" type="checkbox" id="display1" value="2"/></td>
									<td><input class="display" type="checkbox" id="display2" value="3"/></td>
									<td><input class="display" type="checkbox" id="display3" value="4"/></td>
								</tr>
								<tr>
									<td>Camera</td>
									<td><input class="camera" type="checkbox" id="camera0" value="1"/></td>
									<td><input class="camera" type="checkbox" id="camera1" value="2"/></td>
									<td><input class="camera" type="checkbox" id="camera2" value="3"/></td>
									<td><input class="camera" type="checkbox" id="camera3" value="4"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Quality-->
	<div id="sSimilar" class="panel panel-default col-sm-12 col-md-6 col-lg-6">
   	<div class="panel-heading">
      <h3 class="panel-title">
        	Similar To
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="likebox" class="hugebox">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>similar to</th>
									<th>overall</th>
									<th>hardware</th>
									<th>display</th>
									<th>camera</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input class="ssimilar" id="similar0" type="text"></td>
									<td><input type="checkbox" id="soverall0" value="1"/></td>
									<td><input type="checkbox" id="shardware0" value="1"/></td>
									<td><input type="checkbox" id="sdisplay0" value="1"/></td>
									<td><input type="checkbox" id="scamera0" value="1"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar1" type="text"></td>
									<td><input type="checkbox" id="soverall1" value="2"/></td>
									<td><input type="checkbox" id="shardware1" value="2"/></td>
									<td><input type="checkbox" id="sdisplay1" value="2"/></td>
									<td><input type="checkbox" id="scamera1" value="2"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar2" type="text"></td>
									<td><input type="checkbox" id="soverall2" value="3"/></td>
									<td><input type="checkbox" id="shardware2" value="3"/></td>
									<td><input type="checkbox" id="sdisplay2" value="3"/></td>
									<td><input type="checkbox" id="scamera2" value="3"/></td>
								</tr>
								<tr>
									<td><input class="ssimilar" id="similar3" type="text"></td>
									<td><input type="checkbox" id="soverall3" value="4"/></td>
									<td><input type="checkbox" id="shardware3" value="4"/></td>
									<td><input type="checkbox" id="sdisplay3" value="4"/></td>
									<td><input type="checkbox" id="scamera3" value="4"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Similar To-->

	<!---------------------------------------------------->

	<div id="sHardware" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         Hardware
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="chipsetbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Chipset:</span>
					<select name="sChipset" id="sChipset" class="selectpicker" multiple data-live-search="true" data-width="62%">
						<option value="apple a4">apple a4</option>
						<option value="apple a5">apple a5</option>
						<option value="apple a6">apple a6</option>
						<option value="apple a7">apple a7</option>
						<option value="broadcom bcm 28145/28155">broadcom bcm 28145/28155</option>
						<option value="broadcom bcm23550">broadcom bcm23550</option>
						<option value="exynos 4412 quad">exynos 4412 quad</option>
						<option value="exynos 5 octa 5410">exynos 5 octa 5410</option>
						<option value="exynos 5 octa 5420">exynos 5 octa 5420</option>
						<option value="exynos 5 octa 5422">exynos 5 octa 5422</option>
						<option value="exynos 5260">exynos 5260</option>
						<option value="huawei k3v2">huawei k3v2</option>
						<option value="intel atom z2480">intel atom z2480</option>
						<option value="intel atom z2520">intel atom z2520</option>
						<option value="intel atom z2560">intel atom z2560</option>
						<option value="intel atom z2580">intel atom z2580</option>
						<option value="marvell pxa 1088">marvell pxa 1088</option>
						<option value="mediatek mt6515">mediatek mt6515</option>
						<option value="mediatek mt6517">mediatek mt6517</option>
						<option value="mediatek mt6572">mediatek mt6572</option>
						<option value="mediatek mt6572m">mediatek mt6572m</option>
						<option value="mediatek mt6572w">mediatek mt6572w</option>
						<option value="mediatek mt6575">mediatek mt6575</option>
						<option value="mediatek mt6577">mediatek mt6577</option>
						<option value="mediatek mt6577t">mediatek mt6577t</option>
						<option value="mediatek mt6582">mediatek mt6582</option>
						<option value="mediatek mt6582m">mediatek mt6582m</option>
						<option value="mediatek mt6582v/x">mediatek mt6582v/x</option>
						<option value="mediatek mt6589">mediatek mt6589</option>
						<option value="mediatek mt6589m">mediatek mt6589m</option>
						<option value="mediatek mt6589t">mediatek mt6589t</option>
						<option value="mediatek mt6591">mediatek mt6591</option>
						<option value="mediatek mt6592">mediatek mt6592</option>
						<option value="mediatek mt6592t">mediatek mt6592t</option>
						<option value="mt6575m">mt6575m</option>
						<option value="novathor u8500">novathor u8500</option>
						<option value="nvidia tegra 3">nvidia tegra 3</option>
						<option value="pega-dual +xmm6262">pega-dual +xmm6262</option>
						<option value="qualcomm apq8064 snapdragon">qualcomm apq8064 snapdragon</option>
						<option value="qualcomm apq8064t snapdragon 600">qualcomm apq8064t snapdragon 600</option>
						<option value="qualcomm mdm9215m / apq8064">qualcomm mdm9215m / apq8064</option>
						<option value="qualcomm mdm9215m+ apq8064  snapdragon">qualcomm mdm9215m+ apq8064  snapdragon</option>
						<option value="qualcomm mdm9215m+ apq8064 snapdragon">qualcomm mdm9215m+ apq8064 snapdragon</option>
						<option value="qualcomm mdm9615+ apq8064 snapdragon">qualcomm mdm9615+ apq8064 snapdragon</option>
						<option value="qualcomm msm7225a">qualcomm msm7225a</option>
						<option value="qualcomm msm7225a snapdragon">qualcomm msm7225a snapdragon</option>
						<option value="qualcomm msm7227a">qualcomm msm7227a</option>
						<option value="qualcomm msm7227t">qualcomm msm7227t</option>
						<option value="qualcomm msm8210 snapdragon 200">qualcomm msm8210 snapdragon 200</option>
						<option value="qualcomm msm8212 snapdragon 200">qualcomm msm8212 snapdragon 200</option>
						<option value="qualcomm msm8225 snapdragon">qualcomm msm8225 snapdragon</option>
						<option value="qualcomm msm8225 snapdragon s4 play">qualcomm msm8225 snapdragon s4 play</option>
						<option value="qualcomm msm8225q snapdragon">qualcomm msm8225q snapdragon</option>
						<option value="qualcomm msm8225q snapdragon 200">qualcomm msm8225q snapdragon 200</option>
						<option value="qualcomm msm8226 snapdragon 400">qualcomm msm8226 snapdragon 400</option>
						<option value="qualcomm msm8226-0 snapdragon 400">qualcomm msm8226-0 snapdragon 400</option>
						<option value="qualcomm msm8227 snapdragon s4">qualcomm msm8227 snapdragon s4</option>
						<option value="qualcomm msm8227 snapdragon s4 plus">qualcomm msm8227 snapdragon s4 plus</option>
						<option value="qualcomm msm8228 snapdragon 400">qualcomm msm8228 snapdragon 400</option>
						<option value="qualcomm msm8230 snapdragon 400">qualcomm msm8230 snapdragon 400</option>
						<option value="qualcomm msm8230ab snapdragon 400">qualcomm msm8230ab snapdragon 400</option>
						<option value="qualcomm msm8255 snapdragon">qualcomm msm8255 snapdragon</option>
						<option value="qualcomm msm8274 or msm8974 snapdragon 800">qualcomm msm8274 or msm8974 snapdragon 800</option>
						<option value="qualcomm msm8274 snapdragon 800">qualcomm msm8274 snapdragon 800</option>
						<option value="qualcomm msm8610 snapdragon 200">qualcomm msm8610 snapdragon 200</option>
						<option value="qualcomm msm8625q snapdragon 200">qualcomm msm8625q snapdragon 200</option>
						<option value="qualcomm msm8926 snapdragon 400">qualcomm msm8926 snapdragon 400</option>
						<option value="qualcomm msm8928 snapdragon 400">qualcomm msm8928 snapdragon 400</option>
						<option value="qualcomm msm8930 snapdragon 400">qualcomm msm8930 snapdragon 400</option>
						<option value="qualcomm msm8930 snapdragon400">qualcomm msm8930 snapdragon400</option>
						<option value="qualcomm msm8960 snapdragon">qualcomm msm8960 snapdragon</option>
						<option value="qualcomm msm8960 snapdragon s4">qualcomm msm8960 snapdragon s4</option>
						<option value="qualcomm msm8960pro snapdragon s4">qualcomm msm8960pro snapdragon s4</option>
						<option value="qualcomm msm8960t pro snapdragon s4">qualcomm msm8960t pro snapdragon s4</option>
						<option value="qualcomm msm8960t snapdragon s4">qualcomm msm8960t snapdragon s4</option>
						<option value="qualcomm msm8974 snapdragon 800">qualcomm msm8974 snapdragon 800</option>
						<option value="qualcomm msm8974ab snapdragon 801">qualcomm msm8974ab snapdragon 801</option>
						<option value="qualcomm msm8974ac snapdragon 801">qualcomm msm8974ac snapdragon 801</option>
						<option value="qualcomm msm8975ac snapdragon 801">qualcomm msm8975ac snapdragon 801</option>
						<option value="qualcomm snapdragon 200">qualcomm snapdragon 200</option>
						<option value="qualcomm snapdragon 400">qualcomm snapdragon 400</option>
						<option value="qualcomm snapdragon 600">qualcomm snapdragon 600</option>
						<option value="qualcomm snapdragon 800">qualcomm snapdragon 800</option>
						<option value="qualcomm snapdragon s4">qualcomm snapdragon s4</option>
						<option value="spreadtrum sc6820">spreadtrum sc6820</option>
						<option value="spreadtrum sc7710">spreadtrum sc7710</option>
						<option value="spreadtrum shark">spreadtrum shark</option>
						<option value="ti omap 3630">ti omap 3630</option>
						<option value="ti omap 4430">ti omap 4430</option>
						<option value="ti omap 4470">ti omap 4470</option>
					</select>
				</div>
				<div id="cpufambox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">CPU Family:</span>
					<select name="sCpuFam" id="sCpuFam" class="selectpicker" multiple data-live-search="true" data-width="52%">
						<option value="arm v6">arm v6</option>
						<option value="cortex a15">cortex a15</option>
						<option value="cortex-a15">cortex-a15</option>
						<option value="cortex-a5">cortex-a5</option>
						<option value="cortex-a7">cortex-a7</option>
						<option value="cortex-a8">cortex-a8</option>
						<option value="cortex-a9">cortex-a9</option>
						<option value="cyclone (arm v8-based)">cyclone (arm v8-based)</option>
						<option value="intel atom saltwell">intel atom saltwell</option>
						<option value="krait">krait</option>
						<option value="krait 200">krait 200</option>
						<option value="krait 300">krait 300</option>
						<option value="krait 400">krait 400</option>
						<option value="qc 8655">qc 8655</option>
						<option value="scorpion">scorpion</option>
						<option value="swift (arm v7-based)">swift (arm v7-based)</option>
						<option value="tavor mg1">tavor mg1</option>
					</select>
				</div>
				<div id="gpubox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">GPU:</span>
					<select name="sGpu" id="sGpu" class="selectpicker" multiple data-live-search="true" data-width="75%">
						<option value="16 core gpu">16 core gpu</option>
						<option value="adreno 200">adreno 200</option>
						<option value="adreno 203">adreno 203</option>
						<option value="adreno 205">adreno 205</option>
						<option value="adreno 225">adreno 225</option>
						<option value="adreno 302">adreno 302</option>
						<option value="adreno 305">adreno 305</option>
						<option value="adreno 320">adreno 320</option>
						<option value="adreno 330">adreno 330</option>
						<option value="broadcom videocore iv">broadcom videocore iv</option>
						<option value="mali-300">mali-300</option>
						<option value="mali-400">mali-400</option>
						<option value="mali-400mp2">mali-400mp2</option>
						<option value="mali-400mp4">mali-400mp4</option>
						<option value="mali-450">mali-450</option>
						<option value="mali-450mp4">mali-450mp4</option>
						<option value="mali-t624">mali-t624</option>
						<option value="mali-t628 mp6">mali-t628 mp6</option>
						<option value="powervr g6430 (quad-core graphics)">powervr g6430 (quad-core graphics)</option>
						<option value="powervr series 5xt">powervr series 5xt</option>
						<option value="powervr sgx 543mp3 (triple-core graphics)">powervr sgx 543mp3 (triple-core graphics)</option>
						<option value="powervr sgx530">powervr sgx530</option>
						<option value="powervr sgx531">powervr sgx531</option>
						<option value="powervr sgx531t">powervr sgx531t</option>
						<option value="powervr sgx531u">powervr sgx531u</option>
						<option value="powervr sgx535">powervr sgx535</option>
						<option value="powervr sgx540">powervr sgx540</option>
						<option value="powervr sgx543mp2">powervr sgx543mp2</option>
						<option value="powervr sgx544">powervr sgx544</option>
						<option value="powervr sgx544mp2">powervr sgx544mp2</option>
						<option value="powervr sgx544mp3">powervr sgx544mp3</option>
						<option value="ulp geforce">ulp geforce</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="cpufrebox" class="box col-sm-9 col-md-6 col-lg-4">
					<span class="label">Freq:</span>
					<div class="slider" id="cpufreqSlider"></div>
					<div class="slider-value">
						<span style="display:inline-block;float:left;width:40%">
							<input class="range" id="frelv" ng-change="test();" ng-model="cpufre['lo']">
						</span>
						<span style="display:inline-block;float:right;width:40%">
							<input class="range" id="frehv" ng-change="test();" ng-model="cpufre['hi']">
						</span>
					</div>
				</div>
				<div id="cpucorebox" class="box col-sm-9 col-md-6 col-lg-4">
					<span class="label">Cores:</span>
					<select name="sCpuCor" id="sCpuCor" class="selectpicker" multiple data-live-search="true" data-width="70%">
						<option value="1">test3</option>
						<option value="2">test4</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="rambox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Ram:</span>
					<div class="slider" id="ramSlider"></div>
					<div class="slider-value">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:50%" class="range" ng-change="test();" ng-model="ram['lo']" id="ramlv">GB</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:50%" class="range" ng-change="test();" ng-model="ram['hi']" id="ramhv">GB</span>
					</div>
				</div>
				<div id="intrbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">Intr:</span>
					<div class="slider" id="intrSlider"></div>
					<div class="slider-value">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:40%" class="range" ng-change="test();" ng-model="intr['lo']" id="intrlv">GB</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:40%" class="range" ng-change="test();" ng-model="intr['hi']" id="intrhv">GB</span>
					</div>
				</div>
				<div id="cardbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">CARD:</span>
					<div class="slider" id="cardSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="card['lo']" id="cardlv">GB</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="card['hi']" id="cardhv">GB</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="batterybox" class="box col-sm-10 col-md-9 col-lg-8">
					<span class="label">BATTERY:</span>
					<div class="slider" id="battSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="batt['lo']" id="battlv">mAh</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="batt['hi']" id="batthv">mAh</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="sensorsbox" class="box col-sm-9 col-md-6 col-lg-4">
					<span class="label">Sensors:</span>
					<select name="sSensors" id="sSensors" class="selectpicker" multiple data-live-search="true" data-width="70%">
						<option value="ACC">Accelerometer</option>
						<option value="GYR">Gyroscope</option>
						<option value="PROX">Proximity</option>
						<option value="COMP">Compas</option>
						<option value="BARO">Barometer</option>
						<option value="TEMP">Temperature</option>
						<option value="HUMI">Humidity</option>
						<option value="GEST">Gesture</option>
						<option value="LHT">Brightness</option>
						<option value="HRT">HeartBeat</option>
						<option value="FNGPR">FingerPrint</option>
					</select>
				</div>
				<div id="locationbox" class="box col-sm-4 col-md-6 col-lg-4">
					<span class="label">Location:</span>
					<select name="sLocation" id="sLocation" class="selectpicker" multiple data-live-search="true" data-width="70%">
						<option value="GPS">GPS</option>
						<option value="AGPS">AGPS</option>
						<option value="GLON">GLONASS</option>
					</select>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Hardware-->
	<div id="sDisplay" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         Display
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="dissizebox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Screen:</span>
					<div class="slider" id="scrSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="scr['lo']" id="scrlv">inch</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="scr['hi']" id="scrhv">inch</span>
					</div>
				</div>
				<div id="distechbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Technology:</span>
					<select name="sDisTech" id="sDisTech" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="amoled capacitive touchscreen">amoled capacitive touchscreen</option>
						<option value="capacitive touchscreen">capacitive touchscreen</option>
						<option value="curved p-oled capacitive touchscreen">curved p-oled capacitive touchscreen</option>
						<option value="hd-ips lcd capacitive touchscreen">hd-ips lcd capacitive touchscreen</option>
						<option value="igzo capacitive touchscreen">igzo capacitive touchscreen</option>
						<option value="ips capacitive touchscreen">ips capacitive touchscreen</option>
						<option value="ips lcd">ips lcd</option>
						<option value="ips lcd capacitive touchscreen">ips lcd capacitive touchscreen</option>
						<option value="ips plus lcd capacitive touchscreen">ips plus lcd capacitive touchscreen</option>
						<option value="led-backlit ips lcd">led-backlit ips lcd</option>
						<option value="led-backlit lcd">led-backlit lcd</option>
						<option value="ltps lcd capacitive touchscreen">ltps lcd capacitive touchscreen</option>
						<option value="s-lcd capacitive touchscreen">s-lcd capacitive touchscreen</option>
						<option value="sc-lcd capacitive touchscreen">sc-lcd capacitive touchscreen</option>
						<option value="super amoled capacitive touchscreen">super amoled capacitive touchscreen</option>
						<option value="super lcd capacitive touchscreen">super lcd capacitive touchscreen</option>
						<option value="super lcd2 capacitive touchscreen">super lcd2 capacitive touchscreen</option>
						<option value="super lcd3 capacitive touchscreen">super lcd3 capacitive touchscreen</option>
						<option value="tft">tft</option>
						<option value="tft capacitive touchscreen">tft capacitive touchscreen</option>
						<option value="tft touchscreen">tft touchscreen</option>
						<option value="true full hd-ips plus lcd capacitive">true full hd-ips plus lcd capacitive</option>
						<option value="true hd-ips lcd capacitive touchscreen">true hd-ips lcd capacitive touchscreen</option>
						<option value="true hd-ips plus  lcd capacitive touchscreen">true hd-ips plus  lcd capacitive touchscreen</option>
						<option value="true hd-ips plus capacitive touchscreen">true hd-ips plus capacitive touchscreen</option>
						<option value="true hd-ips plus lcd capacitive touchscreen">true hd-ips plus lcd capacitive touchscreen</option>
						<option value="ultra amoled capacitive touchscreen">ultra amoled capacitive touchscreen</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="disresobox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Resolution:</span>
					<select name="sDisReso" id="sDisReso" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="240 x 320">240 x 320</option>
						<option value="320 x 240">320 x 240</option>
						<option value="320 x 480">320 x 480</option>
						<option value="360 x 480">360 x 480</option>
						<option value="480 x 640">480 x 640</option>
						<option value="480 x 800">480 x 800</option>
						<option value="480 x 854">480 x 854</option>
						<option value="540 x 960">540 x 960</option>
						<option value="640 x 960">640 x 960</option>
						<option value="640 x 1136">640 x 1136</option>
						<option value="720 x 720">720 x 720</option>
						<option value="720 x 1280">720 x 1280</option>
						<option value="768 x 1024">768 x 1024</option>
						<option value="768 x 1280">768 x 1280</option>
						<option value="1080 x 1920">1080 x 1920</option>
						<option value="1440 x 2560">1440 x 2560</option>
					</select>
				</div>
				<div id="disdensitybox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Density:</span>
					<div class="slider" id="disdenSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="disden['lo']" id="disdenlv">ppi</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="disden['hi']" id="disdenhv">ppi</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="disprotbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Protection:</span>
					<select name="sDisProt" id="sDisProt" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="corning gorilla glass">corning gorilla glass</option>
						<option value="corning gorilla glass 2">corning gorilla glass 2</option>
						<option value="corning gorilla glass 3">corning gorilla glass 3</option>
						<option value="corning gorilla glass 3 (front and back)">corning gorilla glass 3 (front and back)</option>
						<option value="corning gorilla glass, oleophobic coating">corning gorilla glass, oleophobic coating</option>
						<option value="dragon trail glass">dragon trail glass</option>
						<option value="oleophobic coating">oleophobic coating</option>
						<option value="scratch-resistant glass">scratch-resistant glass</option>
						<option value="shatter proof glass">shatter proof glass</option>
					</select>
				</div>
				<!--div id="distouchbox" class="box col-sm-6 col-md-5 col-lg-4"></div-->
			</div>
		</div><!--panel body-->
	</div><!--panel Display-->
	<div id="sCamera" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         Camera
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="campribox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Primary Cam:</span>
					<div class="slider" id="pricamSlider" style="width:60%"></div>
					<div class="slider-value" style="width:60%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="pricam['lo']" id="pricamlv">MP</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="pricam['hi']" id="pricamhv">MP</span>
					</div>
				</div>
				<div id="camprividbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Pri. Video:</span>
					<div class="slider" id="prividSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="privid['lo']" id="prividlv">p</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="privid['hi']" id="prividhv">p</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="camsecbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Secondary:</span>
					<div class="slider" id="seccamSlider" style="width:60%"></div>
					<div class="slider-value" style="width:60%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="seccam['lo']" id="seccamlv">MP</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="seccam['hi']" id="seccamhv">MP</span>
					</div>
				</div>
				<div id="camsecvidbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Sec. Video:</span>
					<div class="slider" id="secvidSlider" style="width:65%"></div>
					<div class="slider-value" style="width:65%">
						<span style="display:inline-block;float:left;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="secvid['lo']" id="secvidlv">p</span>
						<span style="display:inline-block;float:right;width:40%">
							<input style="width:30%" class="range" ng-change="test();" ng-model="secvid['hi']" id="secvidhv">p</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="camflashbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Flash:</span>
					<select name="sFlash" id="sFlash" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="dual-led">dual-led</option>
						<option value="led">led</option>
						<option value="xenon">xenon</option>
						<option value="xenon+led">xenon+led</option>	
					</select>
				</div>
				<div id="camfeaturesbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Features:</span>
					<select name="sCamFea" id="sCamFea" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="AUTOFO">AutoFocus</option>
						<option value="TOUCHFO">TouchFocus</option>
						<option value="GEOTAG">GeoTagging</option>
						<option value="FACE">FaceRecognition</option>
						<option value="PAN">Panorama</option>
						<option value="SIM_VID_IMG">Simultaneous Image/Video</option>
						<option value="LO_LIGHT">LowLight</option>
						<option value="BURST">Burst Mode</option>
						<option value="OPTSTAB">OpticalImageStabilization</option>
						<option value="STAB">ImageStabilization</option>
					</select>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Camera-->
	<div id="sConnectivity" class="panel panel-default">
   	<div class="panel-heading">
      <h3 class="panel-title">
         Connectivity
      </h3>
   	</div>
   	<div class="panel-body">
			<div class="row">
				<div id="databox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Data:</span>
					<select name="sData" id="sData" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="GPRS">GPRS</option>
						<option value="EDGE">EDGE</option>
						<option value="3G">3G</option>
					</select>
				</div>
				<div id="wifibox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">Wifi:</span>
					<select name="sWifi" id="sWifi" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="WIFIDIR">WifiDirect</option>
						<option value="WIFIHOT">WifiHotspot</option>
						<option value="DLNA">DLNA</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="btbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">BlueTooth:</span>
					<select name="sBT" id="sBT" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="BTA2DP">BTA2DP</option>
						<option value="BTEDR">BTEDR</option>
						<option value="BTLE">BTLE</option>
					</select>
				</div>
				<div id="usbbox" class="box col-sm-6 col-md-5 col-lg-4">
					<span class="label">USB:</span>
					<select name="sUSB" id="sUSB" class="selectpicker" multiple data-live-search="true" data-width="55%">
						<option value="USBMHL">WifiDirect</option>
						<option value="USBOTG">WifiHotspot</option>
						<option value="USBHOST">DLNA</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div id="nfcbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">NFC:</span>
					<div class="checkbox pull-right">
   					<label><input type="checkbox" value="NFC" id="sNFC"></label>
					</div>
				</div>
				<div id="irbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">IR PORT:</span>
					<div class="checkbox pull-right">
   					<label><input type="checkbox" value="IRPORT" id="sIR"></label>
					</div>
				</div>
				<div id="fmbox" class="box col-sm-6 col-md-4 col-lg-3">
					<span class="label">FM RADIO:</span>
					<div class="checkbox pull-right">
   					<label><input type="checkbox" value="RADIO" id="sFM"></label>
					</div>
				</div>
			</div>
		</div><!--panel body-->
	</div><!--panel Connectivity-->

	<div id="banner" class="fix">
		<button id="clear_button" class="btn btn-danger btn-md" ng-click="clear();">Reset Search</button>
		<button id="submit_button" class="btn btn-success btn-md" ng-click="search_redirect();"></button>
		<!--a href="#/comparisongraph" class="btn btn-success btn-md" role="button" id="submit_button" ng-disabled="disablesubmit"></a-->
	</div>
		
</div>
