<div class="container" id="specspage">
	<table id="spectable" class="compare-table" style="width:100%;">
		<thead>
		<tr>
			<th style="width:13.3%;">
          <!--h2>Features</h2-->
      </th>
			<th style="width:21.675%">
					<select id="specmodel0" class="selectpicker specmodel" data-width="100%"></select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel1" class="selectpicker specmodel" data-width="100%"></select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel2" class="selectpicker specmodel" data-width="100%"></select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel3" class="selectpicker specmodel" data-width="100%"></select>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
          <!--h2>Points</h2-->
			</td>
			<td><div id="specov0"></div></td>
			<td><div id="specov1"></div></td>
			<td><div id="specov2"></div></td>
			<td><div id="specov3"></div></td>
		</tr>
	</table>
	<div id="comp-header-fixed">
		<table class="compare-table" style="width:100%;">
		<thead>
		<tr>
			<th style="width:13.3%;">
          <!--h2>Features</h2-->
      </th>
			<th id="spcscrollhdr0" style="width:21.675%">
			</th>
			<th id="spcscrollhdr1" style="width:21.675%">
			</th>
			<th id="spcscrollhdr2" style="width:21.675%">
			</th>
			<th id="spcscrollhdr3" style="width:21.675%">
			</th>
		</tr>
		</thead>
		</table>
	</div>
</div>
