<div class="container" id="specspage">
	<table class="compare-table" style="width:100%;">
		<thead>
		<tr>
			<th style="width:13.3%;">
          <h2>Features</h2>
      </th>
			<th style="width:21.675%">
					<select id="specmodel0" class="selectpicker specmodel" data-width="100%">
					</select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel1" class="selectpicker specmodel" data-width="100%" style="display:hide;">
					</select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel2" class="selectpicker specmodel" data-width="100%">
					</select>
			</th>
			<th style="width:21.675%">
					<select id="specmodel3" class="selectpicker specmodel" data-width="100%">
					</select>
			</th>

		</tr>
		</thead>
	</table>
</div>
